body{
    margin: 0;
    padding: 0;
    background-color: rgba(255, 228, 196,0.6);
}
 @font-face {
    font-family: 'DS-Digital Normal';
    font-style: normal;
    font-weight: normal;
    src: local('DS-Digital Normal'), url('DS-DIGI.woff') format('woff');
    }
h1{
    text-align: center;
    padding: 20px 0px;
    font-size: 40px;
    font-weight: 700;
}
.calculater-head-container{
    margin: 30px 520px 0px 520px;
    background-color: rgba(39, 36, 36,0.9);
    height: 170px;
    border-radius: 10px 10px 0px 0px ;
    box-shadow: -6px 0px 6px  4px  rgb(0,0,0); 
}
.head-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.head-design{
    width: 120px;
    height:32px;
    background-color: rgb(127, 129, 35);
    border-top: 8px;
    border-right: 8px;
    border-bottom: 0px;
    border-left: 0px;
    border-color: rgba(0,0,0,0.9);
    border-style: solid;
    border-radius: 5px;
}
.title-name{
    font-size: 20px;
    font-weight: 700;
    color: white;
}
.align-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}
.align-1{
    color:white;
    font-size: 10px;
}
.text{
    padding-top: 4px;
}
.input{
    width: 430px;
    height: 80px;
    background-color: rgb(118, 151, 141);
    border-radius: 10px;
    border: 4px solid rgba(0,0,0,0.9);
    margin: 10px 28px;
    outline: none;
    color: white;
    font-size: 60px;
    text-align: right;
    position: relative;
    font-family: 'DS-Digital Normal';
}
.input::placeholder{
    color: white;
    font-size: 60px;
    position: absolute;
    padding: 0px 6px 10px 0px ;
    right: 0;
    bottom: 0;
    font-family: 'DS-Digital Normal';
}
.bg-calculator{
    margin: 0px 520px 20px 520px ;
    background-color: rgba(39, 36, 36,0.9);
    height: 380px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: -6px 8px 6px  4px  rgb(0,0,0);
}
.calculator-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10px;
}
.calculator-parts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.digit{
    color: white;
    padding: 5px;
    box-shadow: -6px 8px 6px  4px rgb(0,0,0);
    border-radius: 5px;
    transform: translateY(-5px);
    transform: translateX(5px);
    background-color: rgb(39, 36, 36);
    width: 50px;
    text-align: center;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
}
.digit:hover{
     box-shadow: -2px 2px 2px  2px rgb(255,255,255);
}
.effect{
    background-color: rgb(204, 101, 135);
}
.adjust{
     font-size: 10px;
  
}
.plus{
    color: white;
    padding: 5px;
    box-shadow: -6px 8px 6px  4px rgb(0,0,0);
    border-radius: 5px;
    transform: translateY(-5px);
    transform: translateX(5px);
    background-color: rgb(39, 36, 36);
    width: 50px;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
    height: 56px;
}
@media screen  and (max-width:768px){
    .calculater-head-container{
    margin: 0px;
    height: 130px;
    border-radius: 10px 10px 0px 0px ;
    box-shadow: -6px 0px 6px  4px  rgb(0,0,0); 
}
.bg-calculator{
    margin: 0px;
    background-color: rgba(39, 36, 36,0.9);
    height: 300px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: -6px 8px 6px  4px  rgb(0,0,0);
}
h1{
    font-size: 30px;
}
.head-section{
    padding-top: 10px;
}
.head-design{
    width: 80px;
    height:22px;
    border-top: 6px;
    border-right: 6px;
    border-bottom: 0px;
    border-left: 0px;
    border-color: rgba(0,0,0,0.9);
    border-style: solid;
    border-radius: 5px;
}
.title-name{
    font-size: 18px;
}
.align-head{
    gap: 6px;
}
.align-1{
   font-size: 8px;
}
.text{
    padding-top: 2px;
}
.input{
    width: 96%;
    height: 60px;
    margin: 10px 0px;
    position: relative;
    font-size: 36px;
}
.input::placeholder{
    font-size: 36px;
     padding: 0px 8px 10px 0px ;
}
.calculator-container{
   padding: 20px 5px;
}
.calculator-parts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.digit{
    padding: 5px;
    box-shadow: -6px 8px 6px  4px rgb(0,0,0);
    border-radius: 5px;
    width: 30px;
    text-align: center;
    height: 20px;
    font-size: 14px;
}
.adjust{
     font-size: 6px;  
}
.plus{
    border-radius: 5px;
    transform: translateY(-5px);
    transform: translateX(5px);
    background-color: rgb(39, 36, 36);
    width: 30px;
    text-align: center;
    padding-top: 26px;
    cursor: pointer;
    height: 36px;
}

}